Repository martadinata666/nextcloud-smb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-production, docker-build-beta

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
variables:
  RELEASE: "20.0.6"
  RELEASE_BETA: "21.0.0beta7"
docker-build-production:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --build-arg STABLE=$RELEASE --pull -t "$CI_REGISTRY_IMAGE:$RELEASE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE" .
    - docker push "$CI_REGISTRY_IMAGE:$RELEASE"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE"
  only:
    refs:
      - master
    changes:
      - "Dockerfile"

docker-build-beta:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --pull --build-arg BETA=$RELEASE_BETA -t "$CI_REGISTRY_IMAGE:$RELEASE_BETA" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE_BETA" . -f Dockerfile.beta
    - docker push "$CI_REGISTRY_IMAGE:$RELEASE_BETA"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE_BETA"
  only:
    refs:
      - master
    changes:
      - "Dockerfile.beta"
      - .gitlab-ci.yml

Add CI changes monitor
  .gitlab-ci.yml
Due: docker-build-beta

Change TAG
  .gitlab-ci.yml
Due: docker-build-beta

Use official dockerfile build with pecl smbclient
  Dockerfile.beta
Due: docker-build-beta

Fix typo
  Dockerfile.beta
Due: docker-build-beta

Add missing files
  config/apache-pretty-urls.config.php
  config/apcu.config.php
  config/apps.config.php
  config/autoconfig.php
  config/redis.config.php
  config/reverse-proxy.config.php
  config/s3.config.php
  config/smtp.config.php
  config/swift.config.php
  cron.sh
  entrypoint.sh
  upgrade.exclude
Due: none

chmod +x sh files
  cron.sh
  entrypoint.sh
Due: none

Corrent additional files
  config/apache-pretty-urls.config.php
  config/apcu.config.php
  config/apps.config.php
  config/autoconfig.php
  config/redis.config.php
  config/reverse-proxy.config.php
  config/s3.config.php
  config/smtp.config.php
  config/swift.config.php
  cron.sh
  entrypoint.sh
Due: none

Recheck
  config/swift.config.php
Due: none

Fix upgrade.exclude
  upgrade.exclude
Due: none

Add nano package
  Dockerfile.beta
Due: docker-build-beta

Recheck
  Dockerfile.beta
Due: docker-build-beta

Enable SSL
  Dockerfile.beta
Due: docker-build-beta

Add snakeoil pem generation
  Dockerfile.beta
Due: docker-build-beta

Fix make ssl cert path
  Dockerfile.beta
Due: docker-build-beta

Add openssl package
  Dockerfile.beta
Due: docker-build-beta

late install ssl-cert
  Dockerfile.beta
Due: docker-build-beta

Add SSL
  Dockerfile.beta
Due: docker-build-beta

Add nano
  Dockerfile.beta
Due: docker-build-beta

Bump version
  .gitlab-ci.yml
Due: docker-build-beta

Version BUMP
  .gitlab-ci.yml
Due: docker-build-beta

Ver bump
  .gitlab-ci.yml
Due: docker-build-beta

Upgrade to Ver 21
  .gitlab-ci.yml
  Dockerfile
Due: docker-build-production, docker-build-beta

Update stable download link
  Dockerfile
Due: docker-build-production

Update beta to 21.0.0
  .gitlab-ci.yml
Due: docker-build-beta

Testing ver 21 with php8
  .gitlab-ci.yml
  Dockerfile.php8
Due: docker-build-beta

Test 2
  Dockerfile.php8
Due: none

Set versioning to Dockerfile
  Dockerfile
  Dockerfile.beta
Due: docker-build-production, docker-build-beta

Imagick workaround
  Dockerfile.php8
Due: none

Fix tag format
  .gitlab-ci.yml
Due: docker-build-beta

Fix tag php8
  .gitlab-ci.yml
Due: docker-build-beta

Fix typo
  .gitlab-ci.yml
Due: docker-build-beta

Change www-data UID to 1000
  Dockerfile.php8
Due: none

Change www-data GID to 1000
  Dockerfile.php8
Due: none

Set default folder owner to www-data:www-data
  Dockerfile.php8
Due: none
